@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton SemiBold.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton ExtraLight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton Black.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton Heavy.otf");
  font-weight: 900;
}

body {
  font-family: 'Panton';
  font-size: 20px;
  line-height: 24px;
  color: #3C4852;
}

.overflow-h {
  overflow: hidden;
}

.container {
  max-width: 1160px;
  width: 100%;
  min-width: 300px;
  margin: 0px auto;
}

.header {
  background: url("../img/header__bg.png") 0 0/100% 95% no-repeat;
  background-color: #fff;
  padding-bottom: 280px;
  overflow: hidden;
  z-index: 3;
  position: relative;
}

.header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 56px;
  bottom: 0;
  background: url("../img/header__main.png") 90% 164px/auto no-repeat;
  z-index: -1;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 56px;
  bottom: 0;
  background: url("../img/header__spread-3.png") left bottom/auto no-repeat;
  z-index: -1;
}

.header__inner {
  padding-top: 68px;
}

.header__title {
  font-weight: 700;
  font-size: 96px;
  line-height: 115px;
  padding-bottom: 24px;
}

.header__subtitle {
  padding-bottom: 55px;
  display: flex;
  align-items: center;
  font-size: 36px;
  line-height: 43px;
}

.header__subtitle h3 {
  margin-right: 16px;
}

.header__btns button {
  color: #3C4852;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  max-width: 100%;
  padding: 32px 44px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header__btn-1 {
  background: #FFCC80;
  border: 1px solid #FFCC80;
  border-radius: 10px;
  margin-right: 24px;
  transition: all 0.3s ease 0s;
}

.header__btn-1:hover {
  background: #F8F8F8;
}

.header__btn-2 {
  border: 1px solid #FFCC80;
  background: #F8F8F8;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.header__btn-2:hover {
  background: #FFCC80;
}

.nav {
  z-index: 3;
  position: relative;
}

.nav:before {
  content: '';
  position: absolute;
  max-width: 320px;
  width: 100%;
  max-height: 158px;
  height: 100%;
  right: 1540px;
  background: url("../img/header__spread-2.png") center 0/auto no-repeat;
  z-index: -1;
}

.nav:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/header__spread-logo.png") 168px 0/auto no-repeat;
  z-index: -2;
}

.nav__inner {
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 132px 0;
  font-size: 18px;
  line-height: 22px;
}

.nav__logo {
  z-index: 3;
}

.nav__logo button{
  background-color: transparent;
  outline: none;
  border: none;
}

.nav__burger {
  display: none;
  z-index: 3;
}

.nav__list {
  display: flex;
  align-items: center;
  z-index: 3;
}

.nav__list-item {
  margin-right: 54px;
}

.nav__list-item:last-child {
  margin-right: 0;
}

.nav__list-item a {
  color: #3C4852;
}

.nav__list-i {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.nav__list-i:first-child p {
  margin-left: 14px;
}

.nav__list-i:last-child svg {
  margin-left: 14px;
}

.nav__list-link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  color: #3C4852;
  align-items: center;
  letter-spacing: 0.05em;
  background-color: transparent;
  outline: none;
  transition: all 0.3s ease 0s;
}

.nav__list-link svg path {
  transition: all 0.3s ease 0s;
}

.nav__list-link:hover {
  color: rgba(60, 72, 82, 0.6);
}

.nav__list-link:hover svg path {
  fill: rgba(255, 204, 128, 0.6);
}

.nav__list-btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #3C4852;
  background: #FFCC80;
  border-radius: 10px;
  padding: 18px 24px 18px 32px;
  transition: all 0.3s ease 0s;
}

.nav__list-btn svg {
  transition: all 0.5s ease 0s;
}

.nav__list-btn svg path {
  transition: all 0.3s ease 0s;
}

.nav__list-btn:hover {
  color: #fff;
  background: #3C4852;
}

.nav__list-btn:hover svg {
  margin-left: 5px;
  margin-right: 9px;
}

.nav__list-btn:hover svg path {
  fill: #fff;
}

.menu {
  transition: all 0.3s;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  top: 140px;
  left: 0;
  width: 100%;
  height: 0%;
  background: #fff;
}

.menu-active {
  height: 100%;
}

.menu__list {
  margin-top: 50px;
  display: block !important;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: flex-start;
  text-align: left;
}

.menu__list li {
  margin: 0;
  margin-bottom: 40px;
}

.menu__list-link svg {
  margin: 0 !important;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  position: relative;
}

.title::after {
  content: '';
  top: 96px;
  position: absolute;
  width: 74px;
  height: 6px;
  border-radius: 11px;
  background: #FFCC80;
}

.advantages {
  margin-top: 64px;
  padding-bottom: 110px;
}

.advantages__list {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.advantages__item {
  width: 100%;
  max-width: 248px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.advantages__item p {
  padding-top: 26px;
  font-size: 20px;
  line-height: 30px;
  max-width: 190px;
}

.advantages__item p span {
  font-weight: 700;
}

.advantages__item-icon {
  padding: 75px;
  max-width: 247px;
  max-height: 247px;
  background-color: #F8F8F8;
  border-radius: 100%;
}

.stage {
  margin-bottom: 100px;
}

.stage__list {
  margin-top: 68px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stage__item {
  box-sizing: border-box;
  flex: 33.333%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
}

.stage__item p {
  max-width: 80%;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.stage__item p span {
  font-weight: 800;
  color: #FFCC80;
}

.stage__item:nth-child(4) img {
  align-self: flex-start;
  margin-left: -30px;
}

.stage__item:nth-child(4) p {
  align-self: center;
}

.economy {
  background: url("../img/economy__bg-2.png") center/cover no-repeat;
  margin-bottom: 110px;
  z-index: 3;
  position: relative;
}

.economy:before {
  content: '';
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/economy__spread-1.png") left top/auto no-repeat;
  z-index: -1;
}

.economy:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: -50px;
  right: 0;
  background: url("../img/economy__spread-2.png") right bottom/auto no-repeat;
  z-index: -1;
}

.economy__inner {
  padding: 220px 0 190px 0;
  margin-left: 35%;
  max-width: 800px;
  text-align: left;
  font-size: 20px;
  line-height: 34px;
}

.economy__title {
  justify-content: flex-start;
}

.economy__title::after {
  left: 0;
}

.economy__text {
  margin-top: 54px;
}

.economy__text-1 {
  margin-top: 18px;
}

.guarantee {
  margin-bottom: 100px;
}

.guarantee__item {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.guarantee__item h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 16px;
}

.guarantee__item p {
  font-size: 18px;
  line-height: 28px;
}

.guarantee__item-icon {
  margin-bottom: 32px;
}

.footer {
  padding: 100px 0 40px 0;
  background: url("../img/footer__bg.png") center bottom/cover no-repeat;
  color: #FFFFFF;
}

.footer__inner-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__pay-title {
  margin-bottom: 20px;
}

.footer__icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer__icon {
  background-color: transparent;
  outline: none;
  margin-bottom: 10px;
  cursor: pointer;
  margin-right: 8px;
  height: 60px;
  padding: 0px 17px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icon:hover {
  border: 1px solid white;
}

.footer__copyright {
  opacity: 0.4;
  margin-bottom: 20px;
}

.footer__btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer__link {
  margin-bottom: 20px;
  margin-right: 20px;
}

.footer__link button {
  color: #fff;
}

.footer__link button:hover {
  color: rgba(255, 255, 255, 0.4);
}

.footer__btn {
  margin-bottom: 20px;
  padding: 18px 24px;
  background: #FFCC80;
  border: 1px solid #FFCC80;
  border-radius: 10px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3C4852;
  transition: all 0.3s;
}

.footer__btn:hover {
  background: #3C4852;
  color: rgba(255, 255, 255, 0.4);
}

.popup {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #3C4852;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 20px 100px rgba(18, 24, 32, 0.05);
  border-radius: 10px;
  color: #3C4852;
  max-width: 450px;
  padding: 58px 72px 72px 72px;
  position: relative;
}

.popup__close {
  background-color: transparent;
  cursor: pointer;
  display: block;
  padding: 1px;
  position: absolute;
  right: 13px;
  top: 13px;
  width: 26px;
  height: 26px;
  font-size: 20px;
  text-decoration: none;
  color: #3C4852;
}

.popup__close::after {
  position: absolute;
  content: '';
  left: 0;
  top: 13px;
  width: 24px;
  height: 2px;
  transform: rotate(45deg);
  background-color: #3C4852;
}

.popup__close::before {
  position: absolute;
  content: '';
  left: 0;
  top: 13px;
  width: 24px;
  height: 2px;
  transform: rotate(-45deg);
  background-color: #3C4852;
}

.popup__logo {
  margin-bottom: 44px;
}

.form {
  width: 100%;
}

.form div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
  padding-right: 24px;
}

.form div input {
  padding: 18px 0px 18px 30px;
  color: #8E8D8D;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
}

.form__btn {
  cursor: pointer;
  border: 1px solid #FFCC80;
  border-radius: 10px;
  font-weight: 800;
  background: #fff;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3C4852;
  padding: 22px 24px;
  margin-top: 20px;
  margin-bottom: 40px;
  transition: all 0.3s;
}

.form__btn:hover {
  background: #FFCC80;
}

.enter__btn {
  background: #FFCC80;
  padding: 22px 32px;
  margin-right: 14px;
}

.enter__btn:hover {
  background: #fff;
}

.reg__btn {
  width: 100%;
  margin-bottom: 0px;
  background: #FFCC80;
}

.reg__btn:hover {
  background: #fff;
}

.reg__error{
  margin-top: 10px;
  color: #ff3333;
  text-align: center;
}

.reg__success{
  margin-top: 10px;
  color: #22bb33;
  text-align: center;
}

.popup__or {
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup__or span {
  width: 60px;
  height: 1px;
  background: #E0DEDE;
}

.popup__socials {
  margin-top: 34px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__socials button{
  background-color: transparent;
}

.enter {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.register {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup-active {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

@media (max-width: 1440px) {
  .header:after {
    background-size: 650px;
    background-position-y: 200px;
    background-position-x: right;
  }

  .nav:after {
    background-position-x: -5%;
    background-size: 500px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }

  .header:after {
    background-size: 500px;
    background-position-y: 250px;
  }

  .header:before {
    background-size: 150px;
  }

  .stage__item {
    flex: 50%;
  }

  .stage__item:nth-child(4) {
    align-items: center;
  }

  .stage__item:nth-child(4) img {
    align-self: center;
    margin-left: -87px;
  }

  .economy:before {
    background-size: 150px;
  }

  .economy:after {
    background-size: 150px;
  }
}

@media (max-width: 1145px) {
  .footer__pay-title {
    text-align: center;
  }

  .footer__inner-row {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-bottom: 200px;
  }

  .header:after {
    right: 0;
    background-size: 450px;
    background-position-y: 200px;
  }

  .header__title {
    font-size: 64px;
    line-height: 82px;
  }

  .header__subtitle {
    font-size: 28px;
    line-height: 36px;
  }

  .nav:after {
    background-position-x: -120px;
    background-size: 500px;
  }

  .nav__inner {
    padding-bottom: 60px;
  }

  .economy__inner {
    margin: 0 auto;
    padding: 110px 0 95px 0;
  }
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 130px;
  }

  .header:after {
    right: -100px;
    background-size: 450px;
    background-position-y: 150px;
  }

  .header:before {
    background-size: 80px;
  }

  .header__inner {
    padding-top: 28px;
  }

  .header__title {
    font-size: 48px;
    line-height: 60px;
    padding-bottom: 16px;
  }

  .header__subtitle {
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 28px;
  }

  .header__subtitle h3 {
    margin-right: 8px;
  }

  .nav__burger {
    display: block;
    position: relative;
    width: 51px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .nav__burger::before,
  .nav__burger::after {
    content: '';
    position: absolute;
    background-color: #3C4852;
    height: 2px;
    width: 100%;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .nav__burger::before {
    top: 0;
  }

  .nav__burger::after {
    bottom: 0;
  }

  .nav__burger span {
    transition: all 0.3s ease 0s;
    position: absolute;
    background-color: #FFCC80;
    height: 2px;
    width: 100%;
    left: 0;
    top: 9px;
  }

  .nav__burger-active span {
    width: 0%;
  }

  .nav__burger-active::before {
    top: 9px;
    transform: rotate(45deg);
  }

  .nav__burger-active::after {
    bottom: 9px;
    transform: rotate(-45deg);
  }

  .nav__list {
    display: none;
  }

  .title {
    font-size: 36px;
    line-height: 48px;
  }

  .title::after {
    top: 60px;
  }

  .stage {
    margin-bottom: 20px;
  }

  .economy:before {
    background-size: 80px;
  }

  .economy:after {
    background-size: 120px;
  }

  .economy__inner {
    padding: 90px 0 80px 0;
  }

  .guarantee {
    margin-bottom: 40px;
  }

  .footer {
    padding: 140px 0 10px 0;
  }
}

@media (max-width: 767px) {
  .stage__item {
    flex: 100%;
  }
}

@media (max-width: 480px) {
  .header {
    padding-bottom: 60px;
  }

  .header:after {
    right: -200px;
    background-size: 400px;
    background-position-y: 50px;
  }

  .header__inner {
    text-align: center;
  }

  .header__title {
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 12px;
  }

  .header__subtitle {
    flex-direction: column;
    font-size: 18px;
    line-height: 24px;
  }

  .header__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__btns button {
    padding: 16px 24px;
  }

  .header__btn-1 {
    margin-right: 0px;
  }

  .title {
    font-size: 22px;
    line-height: 28px;
  }

  .title::after {
    top: 50px;
  }

  .footer__copyright {
    align-self: flex-start;
  }

  .popup__content {
    padding: 40px 30px 30px 30px;
  }

  .form__btn {
    margin-top: 0px;
    margin-bottom: 5px;
  }
}